{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="shortcut icon" href="{% static 'img/icons8-glass-marble-50(1).ico' %}" type="image/x-icon">
    

    <title>Giriş Yap</title>

</head>
<body style="background:url('/static/img/mermer_arka.jpg'); background-size: cover; background-repeat:repeat; background-position: center; position: relative">
<!-- <body style="background-color: #dfe9f5"> -->
  
    <div class="container d-flex align-items-center justify-content-center h-100 my-3">

      <div class="col-sm-12 col-md-8 col-lg-6 p-4">
            <div class="p-4 rounded" style="background-color: #eeecdf">
              <img src="/static/img/mermer_logo_1.png" alt="Fırat Mermer" class="w-100">
              <hr>
                <form method="post">
                  {% if error %}
                  <div class="alert alert-danger">
                    {{ error }}
                  </div>
                  {% endif %}
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="username">Kullanıcı Adı</label>
                      <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Şifre</label>
                      <input type="password" class="form-control" placeholder="Şifre" name="password">
                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-primary">Giriş Yap</button>
                    <a href="{% url 'kayitlar' %}" class="btn btn-outline-success">Kayıt Ol</a>
                  </div>
                  </form>
            </div>
            </div>
        
    </div>

    


    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
</body>
</html>